{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">

    <a class="ui gray button" href="{% url 'export_to_excel' %}">Скачать Excel-файл</a>

    <h1 class="ui center aligned header">Список критических уязвимостей</h1>
    <h3 class="test_style">Управляй своими уязвимостями!</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Введите название уязвимости</label>
            <input type="text" name="title" placeholder="Поле для ввода"><br>
        </div>
        <button class="ui teal green button" type="submit">Добавить</button>
    </form>


{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui yellow label">Активна</span>
    <a class="ui primary blue button" href="{% url 'update' todo_id=todo.id %}">Устранена</a>
    {% else %}
    <span class="ui green label">Устранена</span>
    <a class="ui primary blue button" href="{% url 'update' todo_id=todo.id %}">Изменить статус</a>
    {% endif %}
    <a class="ui negative button" href="{% url 'delete' todo_id=todo.id %}">Удалить</a>
</div>
{% endfor %}
</div>

{% endblock content %}